# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock
lib-cov
coverage
.nyc_output
node_modules/
jspm_packages/
.npm
.eslintcache
.node_repl_history
*.tgz
.yarn-integrity
.env
.next
.DS_Store

# Dynamic files
dist/bundle.js
dist/main.css
dist/assets/*